<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body style="background: black; color: #eee">
        <h1 style="color: green">A Form Issue</h1>
        <h3 style="color: green">Here's the form, or what should it actually be:</h3>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
